# Class_08

In [7]:
data: set = { 1, 2, 3, 4, 3, 5, 1 }
print(data)

{1, 2, 3, 4, 5}

In [26]:
import pandas as pd
from typing import Dict, Any

students_data: Dict[str, list[Any]] = {
    "Roll_No": [1, 2, 3],
    "Name": ["Sir Zia","Sir Inam","Sir  Qasim"],
    "Education": ["Master","Master","Master"]    
}

df: pd.DataFrame = pd.DataFrame(students_data)
display(df)

SyntaxError: invalid syntax (4023710058.py, line 5)

In [25]:
df

   Roll_No        Name Education
0        1     Sir Zia    Master
1        2    Sir Inam    Master
2        3  Sir  Qasim    Master